/*normal shizz*/

html,
body {
  height: 100%;
}
.head {
  background-color: hsla(248, 31%, 28%, 1);
  width: 450.9086px;
  margin-left: 247.2725px;
  margin-right: -100%;
  text-align: left;
  padding-top: 100px;
}
.intro {
  width: 450.9086px;
  margin-left: 247.2725px;
  margin-right: -100%;
  text-align: left;
  text-align: justify;
}
/*text me yo*/

#headText {
  color: hsla(0, 0%, 100%, 1.0);
  font-family: 'Roboto Slab', sans-serif;
  font-size: 150%;
  font-weight: 700;
  line-height: 1.3;
  -webkit-font-smoothing: antialiased;
  -webkit-animation: fadein 1s;
  /* Safari and Chrome */
  -moz-animation: fadein 1s;
  /* Firefox */
  -ms-animation: fadein 1s;
  /* Internet Explorer */
  -o-animation: fadein 1s;
  /* Opera */
  animation: fadein 1s;
}
#introText {
  color: hsla(0, 0%, 100%, 1.0);
  font-family: 'Karla', sans-serif;
  font-size: 80%;
  font-weight: 400;
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
  -webkit-animation: fadein 3s;
  /* Safari and Chrome */
  -moz-animation: fadein 3s;
  /* Firefox */
  -ms-animation: fadein 3s;
  /* Internet Explorer */
  -o-animation: fadein 3s;
  /* Opera */
  animation: fadein 3s;
}
#downText {
  color: hsla(16, 100%, 20%, 1);
  font-family: 'Karla', sans-serif;
  font-size: 80%;
  font-weight: 700;
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
  -webkit-animation: fadein 3s;
  /* Safari and Chrome */
  -moz-animation: fadein 3s;
  /* Firefox */
  -ms-animation: fadein 3s;
  /* Internet Explorer */
  -o-animation: fadein 3s;
  /* Opera */
  animation: fadein 3s;
}
/*top shizz*/

#top,
#bottom,
#left,
#right {
  background: hsla(0, 0%, 100%, 1);
  position: fixed;
  z-index: 1;
}
#left,
#right {
  top: 0;
  bottom: 0;
  width: 10px;
}
#left {
  left: 0;
}
#right {
  right: 0;
}
#top,
#bottom {
  left: 0;
  right: 0;
  height: 10px;
}
#top {
  top: 0;
}
#bottom {
  bottom: 0;
}
/*feeln faded*/

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Firefox */

@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Safari and Chrome */

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Internet Explorer */

@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Opera */

@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
